.counter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  flex-wrap: wrap;
  height: 300px;
  
  /* אם המסכים קטנים, ה-divים יהיו אחד מתחת לשני */
  /* margin: auto; */
  background-color: rgb(255, 255, 255);
}

.counter-item {
  /* border-radius: 10px; */
  /* padding: 10px; */
  width: 200px;
  /* margin-right: 10px;
  margin-left: 10px; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}
.counter-item h3 {
  font-size: 80px;
  color: rgb(11, 44, 152)
  ;
  /* צבע כתום */
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 10px;
}

.counter-item p {
  font-size:25px;
  color: rgb(11, 44, 152)
;
  margin-top: 10px;
}
img{
  height: 60px;
}